<!DOCTYPE html>
{% extends 'forum/base.html' %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href={% url 'forum:dashboard' %}>Dashboard</a></li>
            <li class="breadcrumb-item"><a href={% url 'forum:category_list' %}>{{ category }}</a></li>
        </ol>
    </nav>
    <h2>{{ category.name }}</h2>
    {% if not category.subcategory_set.all %}
        <p>No threads created yet</p>
    {% endif %}
    {% for subcategory in category.subcategory_set.all %}
        <ul>
            <li><a href={% url 'forum:subcategory_detail' pk=subcategory.pk %}>{{ subcategory.name }}</a></li>
            {% for post in subcategory.post_set_all %}
                <ul>
                    <li>{{ post.subject }}</li>
                </ul>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}