<!DOCTYPE html>

{% extends 'forum/base.html' %}
{% load static %}
{% block title %}<title>Dashboard</title>{% endblock %}

{% block content %}
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                        <h1 class="jumbotron-heading">Corporate portal</h1>
                        <p>Welcome to the Portal<br>
                            Here you can find useful information about the Company.</p>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm" style="flex-grow: 3">
                        {% if latest_posts %}
                            <h2>Recent Updates</h2>
                        {% else %}
                            <p>No posts added</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}